body[print] {
    background-color: white !important;
}
body[print], body[print] h1, body[print] h2, body[print] h3, body[print] h4 {
    font-family: serif !important;
}

body[print] :not(div.post)[print-only] > :not([print-only]) {
    display: none !important;
}
body[print] div.post {
    margin-top: -25px; margin-bottom: 0px;
}
body[print] div.post-body, body[print] * {
    font-size: 11pt !important;
    line-height: 1.1 !important;
}
body[print] a * {
    font: 11pt serif !important;
}

body[print] div.main-inner div.columns {
    padding-left: 0; padding-right: 0;
}
body[print] div.content-outer {
    box-shadow: none !important;
}
body[print] h1, body[print] h2, body[print] h3, body[print] h4, body[print] h5 {
    font-weight: bold !important;
}
body[print] h3.post-title {
    font-size: 20pt !important;
}
body[print] h1, body[print] h1 * {
    font-size: 20pt !important;
}
body[print] h2, body[print] h2 * {
    font-size: 18pt !important;
}
body[print] h3, body[print] h3 * {
    font-size: 16pt !important;
}
body[print] h4, body[print] h4 *, 
body[print] h5, body[print] h5 * {
    font-size: 12pt !important;
}
body[print] ul, body[print] ol {
    padding: 0 1em !important;
}
body[print] img {
    max-width: 100% !important;
    object-fit: contain !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
body[print] a {
    margin: 0 !important;
}

body[print] blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 1em;
    border-left: solid 2px lightgrey;
}
body[print] blockquote blockquote {
    margin-inline-start: 1em;
    margin-inline-end: 0;
    margin-block-start: 1em;
    margin-block-end: 0;
    padding-left: 0;
    border-left: none;
}
body[print] div.post-footer {
    background-color: transparent;
    border: none !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 11pt;
    font-style: italic;
}

body[print] div.post-footer a, body[print] div.post-footer abbr {
    text-decoration: none !important;
    color: black !important;
}

/* body[print] div.post-footer-line.post-footer-line-1 {
    position: fixed;
    top: 0px; right: 0px;
}

body[print] div.post-footer-line.post-footer-line-2 {
    position: fixed;
    bottom: 0px; right: 0px;
} */

@media print {
    body {
        counter-reset: page;
        margin: 0;
    }

    /* https://stackoverflow.com/questions/4655572/two-column-layout-for-printing */

    body[print] div.post-body {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill: auto;
        column-gap: 2em;
        column-span: all;
        column-width: auto;
        height: 100%;
    }
    /*
    .post-title, div.post-footer {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    div.post {
        column-count: 2;
        column-fill: auto;
        column-gap: 1em;
        column-rule: 2px solid black;
        column-span: all;
        column-width: auto;
    }
    */

    @page {
        counter-increment: page;
        /* size: 8.5in 11in; */
        margin: 0.4in 0.4in;
        /*size: auto; margin: 5mm;*/
        @bottom-center {
            content: "Page " counter(page);
            font-size: 9pt;
        }
    }
}